@page
@model DigiBadges.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h4>Reset your password.</h4>
<hr />
@if (TempData["Email"] == null)
{
    <h2>Acess Denied</h2>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-page-handler="Success">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
} 