@page
@model DigiBadges.Areas.Identity.Pages.Account.VerifycodeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<style>
    body {
        background-color: #e9ecef;
        font-family: 'Nunito Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    .form-container {
        position: absolute;
        top: 10vh;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
    }

    .bg {
        background-color: darkgray;
        width: 100%;
        height: 100vh;
        background-size: 100%;
    }

    h4 {
        padding: 30px 4px 10px 30px;
        font-weight: 700;
        font-size: xx-large;
        letter-spacing: 1px;
    }

    .content p {
        padding: 19px 10px 10px 30px;
        margin-top: 0;
        text-align: inherit;
        margin-bottom: 1rem;
    }

    input[type=number] {
        height: 50px;
        width: 55px;
        border-radius: 10px;
        margin: 0px 8px;
        font-size: 25px;
        font-weight: 100;
        text-align: center;
        border: 1px solid #dae0e5;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .code {
        padding-left: 20px;
    }

    input:focus {
        outline: none;
        font-weight: 100;
    }

    .resend {
        font-weight: bold;
        color: royalblue;
        padding-left: 30px;
        padding-top: 5px;
    }
</style>


@if (TempData["verifycode"] == null)
{
    <h2>Acess Denied</h2>
}
else
{
    <div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="text-align:center" >
            <form method="post" style="text-align:center">
                <h3 class="text-center pb-2">Verification Code</h3>
                <p class="text-lg-center">
                    A message with a 6 digit verification code has been sent to <b>@TempData["email"]</b>. Enter the code to continue.
                </p>
                <div class="row justify-content-center">
                    <div style="display: flex; flex-flow: row wrap; align-items: center;">
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.First" class="form-control" />
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.Second" class="form-control" />
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.Third" class="form-control" />
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.Fourth" class="form-control" />
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.Fifth" class="form-control" />
                        <input class="verifyCodeBox" maxlength="1" max="9" min="0" type="number" asp-for="verify.Sixth" class="form-control" />
                        <input type="hidden" asp-for="verify.Email" class="form-control" />
                    </div>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <input type="submit" class="btn btn-sm btn-primary" asp-route-id=@TempData["verifycode"] asp-route-email=@TempData["email"] value="Continue" />
                </div>
            </form>
            <form method="post" asp-page-handler="ConfirmCode">
                <hr />
                <div class="form-group">
                    <button class="btn btn-primary verifyCodeBox" asp-page-handler="ConfirmCode" asp-route-email=@TempData["email"]>Get new email verification code</button>
                </div>
            </form>
        </div>
    </div>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".verifyCodeBox").keyup(function () {
            if (this.value.length == this.maxLength) {
                $(this).next('.verifyCodeBox').focus();
            }
        });
    </script>
}